<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iPad_QQZone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF61A7C81D01A7CE00CFE8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF61A7E11D01A7CE00CFE8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF61A7EC1D01A7CE00CFE8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
